
body {
    font-size: 16pt;
}
header, main, footer{
    max-width: 760px;
    margin: 0 auto;
}
header {
    font-family: 'Lora', serif;
    text-align: center;
    background-color: rgb(250, 181, 91);
    color: white;
    padding: 1.5rem;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}
p {
    font-family: 'Lora', serif;
    font-size: 12pt;
}
h3, h4 {
    margin-top: 3px;
    margin-bottom: -3px;
    text-align: center;
}
h3 {
    font-family:'Open Sans Condensed', sans-serif;
}
h4 {
    font-family: 'Lora', serif; 
    font-size: 12pt;
    margin-top: 10px;
}

img {
    width: 200px; 
    height: auto;
    border: solid black 0.5px; 
    padding: 5px;
    margin-top: 10px;
}
.websitelink {
font-size: 10pt;
}

section {
    padding: 10px;
    margin: 10px; 
    border: solid black 1px; 
}
.footerlink {
    color:rgb(250, 181, 91);
}

footer {
    background-color: rgb(12, 55, 90);
    color: white;
    padding: 1.5rem;
    font-family: 'Playfair Display', serif;
}
